body{
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

.main-box{
 
    width: 100%;
    height: 91vh;
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 60%;
    display: flex;
    justify-content: space-between;
  
}

.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.cont2 img{
  height: 200px;
}